

nav {
  max-width: 1024px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 50px;
}

h1 {
  display: block;
  font-size: 22px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 18px;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

p {
  font-size: 16px;
  padding: 12px;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  background-image: url("../images/whirlpool.png");
  font-family: monospace;
  /*margin-bottom: 80px;*/
  position:relative;
  padding-bottom: 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: teal;
}

main {
  margin: 0 auto;
  max-width: 960px;
  min-width: 60%;
  padding-bottom: 80px;
}

footer {
  color: white;
  background: #333;
  font-family: sans-serif;
  font-size: 12px;
  /*width: 100%;*/
  max-width: 1024px;
  margin: 0 auto;
  padding: 12px;
  position: fixed;
  bottom: -10px;
  left: 0;
  right: 0;
  text-align: center;
  height: 20px;
  border-top: thick solid teal;
  box-shadow: 5px 5px 5px #888888;
}

section img {
  float: left;
  height: 200px;
  width: 200px;
  padding: 16px 16px 16px 16px;

}

.contact-form {
  min-height: : 350px;
  width: 732px;
}

textarea, input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
  font-family: Courier New;
  color: #ffffff;
  font-size: 16px;
  background: teal;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  box-shadow: 5px 5px 5px #888888;
}

.btn:hover {
  background: #333;
  text-decoration: none;
}

label, #name, #email, #message{
  display: block;
  width: 40%;
  margin: 12px;
}

#message {
  width: 500px;
  height: 200px;
}

#about, #contact, #portfolio{
  min-width: 200px;
  max-width: 700px;
  display: inline-block;
  background: #eaeaea;
  padding: 0px 16px 16px 16px;
  box-shadow: 5px 5px 5px #888888;
}


#contact {
  /*padding: 0px 20px 20px 20px;*/
  padding: 0px 16px 16px 16px;
}

#connect {
  max-width: 30%;
  display: inline-block;
  position: absolute;
  right: 16px;
  background: #eaeaea;
  padding: 0px 20px 20px 20px;
  margin: 24px;
  margin-top: 0;
  box-shadow: 5px 5px 5px #888888;
}

/*#connect, #about {
 vertical-align:top;
}*/

 #connect a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   background: #666;
   border-bottom: thin solid white;
 }

 #connect a:hover:not(.active) {
   background-color: #111;
 }
